## Global requirements 
python-dotenv==1.1.1
IPython==9.4.0
black==25.1.0
nbqa==1.9.1

## 001
requests==2.32.4
beautifulsoup4==4.13.4
google-generativeai==0.8.5


## 002
langchain-google-genai==2.1.7
langchain-community==0.3.27
getpass4==0.0.14.1
